#검{
    position: absolute;
    top: 40%; left: 50% ; 
    transform: translate(-50%, -50%);
}

#lv{
    position: absolute;
    top: 95%; left: 50% ; 
    transform: translate(-50%, -50%);
}

#강화{
    position: absolute;
    top: 120%; left: 50% ; 
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#discord {
    width: 70px;
    height: 70px;

    position: absolute;
    top: 8%; right: 0%;
}

#LK {
    width: 70px;
    height: 70px;

    position: absolute;
    top: 2%; right: 0%;
}
